.signin-container {
  width: 300px;
  padding: 16px;
  background-color: white;
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid black;
  border-radius: 4px;
}

.signin-container h2 {
  text-align: center;
}

.signin-container input[type="email"],
.signin-container input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.signin-container button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.signin-container button:hover {
  opacity: 0.8;
}

.signin-container .social-btn {
  display: block;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  color: white;
  border-radius: 5px;
  border: none;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

.google-btn {
  background-color: #db4437;
}

.facebook-btn {
  background-color: #3b5998;
}

.twitter-btn {
  background-color: #1da1f2;
}

.signin-container .psw {
  display: block;
  margin-top: 10px;
  text-align: center;
}
